<!DOCTYPE html>
<html>
    <head>
        <title>Random</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Random</h1>
        <h2>Random Passcode (passcode #@ViewBag.passcode_int)</h2>
        <h1>@ViewBag.Example</h1>
        <form action="method" method="post">
            <input type="submit">
        </form>
    </body>
</html>